<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{% endblock %} | Blogdom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
    body{
            background-color: #ffffff;
        }
    </style>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">BLOGDOM</a>
    </div>
  </div>
</nav>
<br/>
<br/>
<div class = "container-fluid">
{% block content %}
{% endblock %}
    </div>
</body>
</html>